<extend name="Frames/frame" />
<block name="right">
	<div class="panel panel-default">
		<div class="panel-heading">
			表信息
		</div>
		
		<div class="panel-body">
			<table class="table table-condensed table-hover table-bordered table-striped success">
				<tr>
					<th></th>
					<th>数据库</th>
					<th>主表</th>
					<th>主表外键</th>
					<th>关联表</th>
					<th>关联表字段</th>
					<th>关联类型</th>
					<th style="width:200px;"></th>
				</tr>
				<volist name="list" id="v" key="key">
				<tr class="yirubianse gehangbianse">
					<td>
						{$key}
					</td>
					<td><a href="__URL__/tables/database/{$databases[$v['databaseid']]['basename']}">{$databases[$v['databaseid']]['basename']}</a></td>
					<td>
						<a href="__URL__/tableinfo/database/{$v.table_schema}/table_name/{$v.maintable}">{$v.maintable}</a>
					</td>
					<td>
						{$v.mainfield}
					</td>
					<td>
						{$v.addendumtable}
					</td>
					<td>
						{$v.addendumfield}
					</td>
					<td>
						<switch name="v.type">
							<case value="1">inner join</case>
							<case value="2">left join</case>
							<case value="3">right join</case>
						</switch>
					</td>
					<td>
						<a href="__URL__/setnexus/id/{$v.id}/" class="btn btn-info btn-xs">编辑</a>
					</td>
				</tr>
				</volist>
			</table>
		</div>
	</div>
	
</block>