<!doctype html>
<html>
<head>
	<include file="C/head" />
	<block name="head"></block>
</head>
<body>
	<div id="top">放假打算离开房间爱上</div>
	<div id="fdasfrergfsgf" class="clearfix">
		<div id="left">
			<div class="list-group">
				<a href="__URL__/index" class="list-group-item active">
					数据库
				</a>
				<a href="__URL__/adddatabase" class="list-group-item active">
					数据库关系
				</a>
				<a href="__URL__/nexus" class="list-group-item active">
					关系列表
				</a>
			</div>
		</div>
		<div id="right">
			<block name="right"></block>
		</div>
	</div>
	<include file="C/floot" />
</body>
</html>