<title>{$page_title}</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.7/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<script src="__PUBLIC__/jquery-1.11.3/jquery.min.js" /></script>
<script src="__PUBLIC__/bootstrap-3.3.7/js/bootstrap.min.js" /></script>
<script src="__PUBLIC__/js/ajaxform.js" /></script>
<script src="__PUBLIC__/js/gehanghuanse.js" /></script>

<script src="__PUBLIC__/js/mytool.js" /></script>